<% if resource.errors.any? %> <%# exibe mensagem caso algum erro impeça a edição %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="card-body">Atenção!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <% resource.errors.full_messages.each do |message| %>
        <li class="small"><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>
