<div class="row page-titles">
  <h3 class="text-themecolor ml-4 m-b-0 m-t-0">Início</h3>
</div>

<!-- Start Page Content -->
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-block m-3">
        <h1>UsersBackoffice::Welcome#index</h1>
        <p>Find me in app/views/users_backoffice/welcome/index.html.erb</p>

        <%= link_to '[Exit]', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>