<% @questions.each do |question| %>
  <div class="container pb-4">
    <div class="card">
      <h4 class="card-header bg-secondary text-white">
        <span class="badge badge-pill 
          <% case question.subject_id %>
            <% when 1 %>
              badge-warning
            <% when 2 %>
              badge-danger
            <% when 3 %>
              badge-info
            <% when 4 %>
              badge-success
            <% else %>
              badge-primary
          <% end %>
        ">
          <%= question.subject.description %>
        </span>
        <%= question.description %>
      </h4>
      <div class="card-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li><%= answer.description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row justify-content-center">
    <%= paginate @questions %>
  </div>
</div>