<p>Olá <%= @resource.email %>!</p>

<p>Este é um e-mail de recuperação de senha. Você pode criar uma nova senha de acesso utilizando o link abaixo:</p>

<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha solicitado a recuperação de senha, apenas ignore este e-mail.</p>
<p>Sua senha não mudará a menos que acesse o link acima e crie uma nova senha.</p>
